*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* aca van ir las clses de GRID*/

.body{
    background-color: rgb(160, 167, 167);
}
.contenedorGrid{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    grid-template-areas: "header header"
                          "main aside"
                          "footer footer"  ;     

}

.HEADER{
    background-color: blue;
    grid-area: header;
}

.MAIN{
    background-color: brown;
    grid-area: main;
}
/*Seccion main*/
.box{
    background-color: pink;
    width: 200px;
    height: 200px;
    margin: 1px solid;
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*grid*/
    grid-area: main;


}
.box:hover{
    background-color: red;
    width:300px ;
    height: 300px;
}
.aside{
    background-color: rgb(201, 124, 31);
    grid-area:aside ;
}
.FOOTER{
    background-color: blueviolet;
    grid-area: footer;
}
