/*color de fondo de la pagina*/
body{
    background-color: rgb(245, 232, 241);
    font-size: medium;
  
  
  }

  /*Horarios de atencion de las sucursales*/
  .horarioFlex{
    display: flex;
    /*flex-direction: row-reverse;
    justify-content:center;*/
    padding: 30px;
    margin: 0 auto;

  .boxHorariosDeAtencion{
    
    border-radius: 20px 19px 19px 19px;
    -webkit-border-radius: 20px 19px 19px 19px;
    -moz-border-radius: 20px 19px 19px 19px;
    background: rgba(215,103,183,0.57);
    padding:30px;
    width: 50vh;
    
    
    li{
        
        list-style: none;
    }
}
}