/*color de fondo de la pagina*/
body{
    background-color:map-get($map: $colores, $key:color-body );
    font-size: medium;
  
  
  }

  /*Horarios de atencion de las sucursales*/
  .horarioFlex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    padding: 20px;
    

  .boxHorariosDeAtencion{
    
    border-radius: 20px 19px 19px 19px;
    -webkit-border-radius: 20px 19px 19px 19px;
    -moz-border-radius: 20px 19px 19px 19px;
    background: rgba(215,103,183,0.57);
    padding:20px;
    width: 50vh;
    
    
    li{
        
        list-style: none;
    }
}
}