/*Seccion footer*/
.footer{
    background-color:$color-negro;
    height: 100px;
    width: 100%;
    padding: 50px;
   

    .contenedorRedesSociales{
        display: flex;
        justify-content:center;
        align-items: center;
        justify-content: space-around;
        align-items: center;


        a{
            color: rgb(241, 226, 226);
                font-size: 30px;
                text-decoration: none;
                padding: 0%;

        }

            
        }
        
    }


