/*estilados del header*/
header{

    background-color: rgb(213, 104, 122);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 10px;

    .contenedorDeLogo .logo{
        width: 200px;

        .logo{
            width: 200px;
        }
        
    }
      
}



/*Estilados para la navegacion*/
.listaNavegacion{
    
    list-style: none;
    margin: 10px;
    display: inline block;
    padding: 10px;
    justify-content: end;

    .linkNav{
        text-decoration: none;
        color: $color-negro;
        font-size: 18px;
    }
    


}


/*estilados seccion principal index*/
.sectionPincipalIndex{
    
    font-size: 20px;


}

.colorFondoHeader{
    background-color: aliceblue;
}


