/*estilados del main*/
main{
    padding: 100px;
    
    .posicionTarjetas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.posicionTarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*@media screen and (max-width: 576px){
   main{
   

    .sectionPincipalIndex.textoCentrado{
     font-size: 1px;
    }
   }

    
}*/


