/*estilados del main*/
main{
    padding: 100px;
    
    .posicionTarjetas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.posicionTarjetas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.formularioSucursales label {
    padding:20px;
}

.mapasCentrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    

    iframe{
        padding: 20px;
    }



}
/*@media screen and (max-width: 576px){
   main{
   

    .sectionPincipalIndex.textoCentrado{
     font-size: 1px;
    }
   }

    
}*/


